* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    padding: 0;
    background: url(../images/background.jpg);
    height: 100vh;
}

#canvas-div {
    text-align: center;
}

#canvas {
    border: black 2px solid;
}

.instructions {
    font-family: Verdana, Geneva, sans-serif;
    color: #fff;
}